<div class="jumbotron">
    <p class="lead">Utilizando la API de Github crear una aplicación que analice la densidad de commits en un día por medio de una gráfica, cualquier repositorio puede ser especificado en la pagina.(Idealmente deberíamos guardar la información de la densidad de commits de los repositorios para no consumir requests futuros hacia github)</p>
    
    <%= image_tag "Git graph.png", :class => "img-polaroid" %>
</div>
