<div class="jumbotron">
        <h1>Super awesome</h1>
        <p class="lead">Se uso solo un controlador para llevar a la página de inicio, y usando el api de Github solo basto una llamada ajax con ayuda jQuery para extraer los commits de un repositorio, se sumarizaron las fechas y se graficaron usando amcharts.</p>
        

</div>
      <div class="row-fluid marketing">
        <div class="span6">

          <h4>Owner</h4>
          <p>Elias Martinez</p>

          <h4>Celular</h4>
          <p>333-473-6243</p>

          <h4>email</h4>
          <p>emsedano@live.com.mx</p>
          <p><a href="http://mx.linkedin.com/pub/elias-martinez-sedano/56/52a/728" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="Ver el perfil de Elias Martinez Sedano en LinkedIn" style="vertical-align:middle" border="0">Ver el perfil de Elias Martinez Sedano</span></a></p>
        </div>

        <div class="span6">
          <h4>Recursos</h4>
          
          <p>Ruby on rails como plataforma a prueba</p>
          <p><a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a> para ahorrar en estilos</p>
          <p><a href="http://www.jquery.com" >jQuery</a>, para el manejo del DOM y la llamada AJAX</p>
          <p><a href="http://www.amcharts.com/">amCharts</a> para graficar</p>
        </div>
      </div>

