<hr>
<div class="footer">
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
	<h4 class="muted">Densi-Git</h4>
	<p>&copy; Tango Source Challenge 2013 - Elias Martinez</p>
</div>
</div>

