<hr>
<div class="footer">
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
           <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "About", about_path %></li>
	      <li><%= link_to "Contact", contact_path %></li>
        </ul>
	<h4 class="muted">Densi-Git</h4>
	<p>TS Challenge - Elias Martinez</p>
	<p class="alert alert-info">Esta aplicación no es de caracter lucrativo ni será puesta en ambiente productivo</p>
</div>
</div>

